<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--/*/ <th:block th:include="@{fragments/common}::head(${title})"></th:block> /*/-->
<body>
<!--/*/ <th:block th:include="@{fragments/common} :: navigation"></th:block> /*/-->

<!-- region: New Student Add form -->
<div class="container">
    <h2 class="text-center">Add New Student</h2>

    <form th:action="@{/student/save}" th:object="${studentDto}" method="post" class="form-control">

        <input type="hidden" th:field="*{studentId}"/>
        <!----------------------------------------------------------------->
        Name: <input type="text" class="form-control" th:field="*{studentName}" required/>

        Age: <input type="text" class="form-control" th:field="*{age}" required/>

        <div class="form-group">
            <label>Gender:</label>
            <th:block th:each="gender : ${genderList}">
                <input type="radio" th:field="*{gender}" th:value="${gender}" required>
                <label th:text="${gender}"></label>
            </th:block>
        </div>

        <!------------------------------- Button ---------------------------------->
        <div class="col-md-12 text-right">
            <button th:if="${studentDto.studentId==0}" class="btn btn-primary" type="submit">Save Student</button>
            <button th:Unless="${studentDto.studentId==0}" class="btn btn-primary" type="submit">Update</button>
        </div>
    </form>
</div>

<!-- endregion-->


</body>
</html>