<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--/*/ <th:block th:include="@{fragments/common}::head(${title})"></th:block> /*/-->

<body>
<!--/*/ <th:block th:include="@{fragments/common} :: navigation"></th:block> /*/-->

<div class="container">
    <div class="row">

        <!--region: Save Subject & Assign In Department form-->
        <div class="col col-6">
            <h2 class="text-center">Add New Subject</h2>

            <form class="subjectSaveForm form-control">

                <input type="hidden" name="subjectId"/>

                Subject Name: <input type="text" name="subjectName" class="form-control"
                                     placeholder="Type Subject Name For Ex. : Mathematics" required/><br>

                Subject Code: <input type="text" name="subjectCode" class="form-control"
                                     placeholder="Type Subject Code For Ex. : MATH-1234" required/><br>

                Credit Hour: <input type="number" min="1" step="any" name="creditHour" class="form-control"
                                    placeholder="Type Subject Credit Hour For Ex. : 3.5" required/><br>

                <!----------------------------------------------------------------->
                Department:--------------------------------------------------(ManyToMany)
                <select name="departmentIdList" class="departmentList form-control" multiple required>
                    <option th:each="department : ${departmentDtoList}"
                            th:value="${department.departmentId}"
                            th:text="${department.departmentCode}">
                    </option>
                </select><br>

                <!------------------------------- Button ---------------------------------->
                <div class="col-md-12 text-right">
                    <button class="btn btn-primary" type="submit">Save Subject</button>
                    <br>
                </div>

                <!-------------------------- Save Successful Alert ------------------------>
                <div class="message alert alert-success" style="margin-top:25px">
                    <strong>Successful!!!!!!!</strong> Save in Database
                </div>

            </form>
        </div>
        <!-- endregion -->


        <!--region: Subject List Table-->
        <div class="col col-6">
            <h2 class="text-center">Subject List</h2>

            <div class="card card-body">

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>SL</th>
                        <th>Subject</th>
                        <th>Code</th>
                        <th>Credit Hour</th>
                    </tr>
                    </thead>

                    <tbody class="table-body"></tbody>

                </table>

            </div>
        </div>
        <!-- endregion -->

    </div>
</div>

<!-------------------------------------------------------------------------------------------------->
<script th:src="@{/jquery/jquery-3.5.1.js}"></script>
<script>
    $(document).ready(function () {
        $(".message").hide();

        /*---------------------------- Subject List Fetch By Ajax ---------------------------------*/
        $.ajax({
            url: '/subject/getAllSubject',

            method: 'GET',

            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },

            success: function (response) {
                $.each(response, function (i, subject) {

                    var row = `<tr>
                            <td>${$('.table-body tr').length + 1}</td>
                                 <td>${subject.subjectName}</td>
                                 <td>${subject.subjectCode}</td>
                                 <td>${subject.creditHour}</td>
                        </tr>`;

                    $(".table-body").append(row);

                });
            },
            error: function (err) {
                console.log(err);
            }
        });


        /*------------------------------- Subject Save By Ajax ------------------------------------*/
        $(".subjectSaveForm").on('submit', function (e) {

            e.preventDefault();     /*------- Page Reload Prevent -------*/

            $.ajax({
                data: JSON.stringify($(this).serializeObject()),

                url: '/subject/save',    /*------- Controller And Method Map -------*/

                method: 'POST',               /*------- By Default GET -------*/

                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },

                success: function (response) {
                    $(".message").show();

                    var row = `<tr>
                            <td>${$('.table-body tr').length + 1}</td>
                                 <td>${response.subjectName}</td>
                                 <td>${response.subjectCode}</td>
                                 <td>${response.creditHour}</td>
                        </tr>`;

                    $(".table-body").append(row);

                    $("input").val("");
                },

                error: function (error) {
                    console.log(error);
                }
            });
        });


        /*---------The Following Code Is For Converting Json Object To Our Requird Object ---------*/

        $.fn.serializeObject = function () {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function () {
                if (o[this.name] !== undefined) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };

        /*-----------------------------------------------------------------------------------------*/

    });
</script>


</body>
</html>