<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<!------------------------------------------------- Title, Bootstrap --------------------------------------------------->
<head th:fragment="head(title='')">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.min.css}">

    <!------------------------------------- CDN Net Link---------------------------------->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<!------------------------------------------------- Navigation Bar --------------------------------------------------->
<div th:fragment="navigation">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand text-info" th:href="@{/}">Tajbir</a>

        <a class="nav-link" sec:authorize="hasAuthority('STUDENT')" th:href="@{/student/getAll/}">Student</a>
        <a class="nav-link" sec:authorize="hasAuthority('DEPARTMENT')" th:href="@{/department/add/}">Department</a>
        <a class="nav-link" sec:authorize="hasAuthority('DEPARTMENT')" th:href="@{/department/assign-student/}">Assign-Students</a>
        <a class="nav-link" sec:authorize="hasAuthority('DEPARTMENT')" th:href="@{/department/get-details/}">Get Dept.-Details</a>
        <a class="nav-link" sec:authorize="hasAuthority('SUBJECT')" th:href="@{/subject/add/}">Subject</a>
        <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{email/email-send}">Email</a>

        <span class="navbar-text">
       <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/get-login}">Login</a>
       <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
    </span>
    </nav>
</div>

</html>