<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.min.css}">
</head>
<body>
<div class="container">
    <h2>Please Login</h2>
    <!-- region: login Form -->
    <form method="post" th:action="@{/login-process}" class="form-control">


        Username: <input type="email" id="username" name="username" class="form-control"
                         placeholder="Username" required autofocus><br>


        Password: <input type="password" id="password" name="password" class="form-control"
                         placeholder="Password" required><br>


        <button type="submit" class="btn">Sign In</button>


    </form>
    <!--endregion -->

    <div th:if="${param.error}" class="alert alert-default-danger">
        <h3>Invalid Username or Password</h3>
    </div>


</div>
</body>
</html>