<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--/*/ <th:block th:include="@{fragments/common}::head(${title})"></th:block> /*/-->
<body>
<!--/*/ <th:block th:include="@{fragments/common} :: navigation"></th:block> /*/-->

<div class="container">
    <h2 class="text-center">Send Email</h2>

    <!-- region: Email Send form -->

    <form th:action="@{/email/send}" th:object="${emailDto}" method="post" class="form-control">


        To: <input type="email" class="form-control" th:field="*{emailTo}"
                   placeholder="To . . . . ." required/><br>

        Subject: <input type="text" class="form-control" th:field="*{emailSubject}"
                        placeholder="Mail Subject . . . . ." required/><br>

        Email: <textarea class="form-control" rows="5" placeholder="Enter Your Mail Message . . . . ."
                         th:field="*{emailBody}" required></textarea><br>

        <!------------------------------- Button ---------------------------------->
        <div class="col-md-12 text-right">
            <button class="btn btn-primary" type="submit">Send Email</button>

        </div>
    </form>

    <!-- endregion-->

    <h4 th:text="${message}" class="text-center alert-success"></h4>

</div>


</body>
</html>