<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--/*/ <th:block th:include="@{fragments/common}::head(${title})"></th:block> /*/-->
<body>
<!--/*/ <th:block th:include="@{fragments/common} :: navigation"></th:block> /*/-->

<!-- region: New Department Add form -->
<div class="container">
    <h2 class="text-center">Add New Department</h2>

    <form th:action="@{/department/save}" th:object="${departmentDto}" method="post" class="form-control">

        <input type="hidden" th:field="*{departmentId}"/>
        <!----------------------------------------------------------------->
        Department Name: <input type="text" class="form-control" th:field="*{departmentName}"
                                placeholder="For Example 'Computer Science Engineering'" required/><br>

        Department Code: <input type="text" class="form-control" th:field="*{departmentCode}"
                                placeholder="For Example 'CSE'" required/><br>

        <!------------------------------- Button ---------------------------------->
        <div class="col-md-12 text-right">
            <button class="btn btn-primary" type="submit">Save Department</button>
        </div>
    </form>
</div>

<!-- endregion-->

<!-- region: Show All Department -->
<div class="container">
    <div class="card">

        <div class="alert alert-info text-center">
            <h3><strong>All Department List</strong></h3>
        </div>

        <div class="card-body">
            <div class="col-md-12">
                <!--------------------------------------------------------------------------------------------->
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Department Name</th>
                        <th>Department Code</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="department:${departmentDtoList}">
                        <tr>
                            <td th:text="${department.departmentId}"></td>
                            <td th:text="${department.departmentName}"></td>
                            <td th:text="${department.departmentCode}"></td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
                <!--------------------------------------------------------------------------------------------->
            </div>
        </div>
    </div>
</div>

<!-- endregion -->


</body>
</html>