<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--/*/ <th:block th:include="@{fragments/common}::head(${title})"></th:block> /*/-->
<body>
<!--/*/ <th:block th:include="@{fragments/common} :: navigation"></th:block> /*/-->

<div class="container">
    <div class="row">

        <!-- region: Dropdown Selection -->

        <div class="col col-6">
            <h3 class="text-center">Details Information</h3>

            <div class="card card-body">
                <!----------------------------------------------------------------->
                Department:
                <select class="departmentDropdown form-control" required>
                    <option disabled selected>---- Select a Department ----</option>
                    <option th:each="department : ${departmentDtoList}"
                            th:value="${department.departmentId}"
                            th:text="${department.departmentCode}">
                    </option>
                </select><br>

                <!----------------------------------------------------------------->

                Student List: ------------------------ Select Student For Details
                <select class="studentDropdown form-control" required></select><br>

                <!----------------------------------------------------------------->

                Subject List: ------------------------ Select Subject For Details
                <select class="subjectDropdown form-control" required></select><br>

                <!----------------------------------------------------------------->
            </div>
        </div>

        <!-- endregion -->

        <!-- region: Student & Subject Information Show -->
        <div class="col col-6">

            <!-- region: Student Info Show Table -->

            <h3 class="text-center">Student Information</h3>
            <div class="row">
                <div class="card card-body">

                    <table class="table table-hover table-danger">
                        <thead>
                        <tr>
                            <th>Student</th>
                            <th>Age</th>
                            <th>Gender</th>
                        </tr>
                        </thead>

                        <tbody class="student-table-body"></tbody>

                    </table>

                </div>
            </div>

            <!-- endregion -->


            <!-- region: Subject Info Show Table -->

            <h3 class="text-center" style="margin-top: 30px">Subject Information</h3>
            <div class="row">
                <div class="card card-body">

                    <table class="table table-hover table-primary">
                        <thead>
                        <tr>
                            <th>Subject</th>
                            <th>Code</th>
                            <th>Credit Hour</th>
                        </tr>
                        </thead>

                        <tbody class="subject-table-body"></tbody>

                    </table>

                </div>
            </div>

            <!-- endregion -->
        </div>
        <!-- endregion  -->

    </div>
</div>
<!------------------------------------------------------------------------------>

<script th:src="@{/jquery/jquery-3.5.1.js}"></script>
<script>
    $(document).ready(function () {

        /*--------------------- Department Dropdown Click ---------------------*/
        $('.departmentDropdown').on('change', function (e) {
            e.preventDefault();

            var departmentId = $(".departmentDropdown option:selected").val();

            $.ajax({
                url: '/department/get-students-subjects-details/' + departmentId,

                method: 'GET',

                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },

                success: function (response) {

                    $(".studentDropdown").empty();
                    $(".subjectDropdown").empty();

                    $(".studentDropdown").append(`<option disabled selected>---- Select ${response.departmentCode} Student ----</option>`)
                    $(".subjectDropdown").append(`<option disabled selected>---- Select ${response.departmentCode} Subject ----</option>`)


                    /*---------------------------- Loop For Student List -------------------------------*/
                    $.each(response.studentList, function (i, student) {

                        var option = `<option value="${student.studentId}">${student.studentName}</option>`;

                        $(".studentDropdown").append(option);

                    });


                    /*---------------------------- Loop For Subject List -------------------------------*/
                    $.each(response.subjectList, function (i, subject) {

                        var option = `<option value="${subject.subjectId}">${subject.subjectName}</option>`;

                        $(".subjectDropdown").append(option);

                    });


                },

                error: function (error) {
                    console.log(error);
                }
            });
        });

        /*----------------------- Student Dropdown Click ----------------------*/
        $('.studentDropdown').on('change', function (e) {
            e.preventDefault();

            var studentId = $(".studentDropdown option:selected").val();

            $.ajax({
                url: '/department/get-student/' + studentId,

                method: 'GET',

                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },

                success: function (response) {

                    $(".student-table-body").empty();

                    var row = `<tr>
                                 <td>${response.studentName}</td>
                                 <td>${response.age}</td>
                                 <td>${response.gender}</td>
                        </tr>`;

                    $(".student-table-body").append(row);
                },

                error: function (error) {
                    console.log(error);
                }
            });
        });

        /*----------------------- Subject Dropdown Click ----------------------*/
        $('.subjectDropdown').on('change', function (e) {
            e.preventDefault();

            var subjectId = $(".subjectDropdown option:selected").val();

            $.ajax({
                url: '/department/get-subject/' + subjectId,

                method: 'GET',

                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },

                success: function (response) {

                    $(".subject-table-body").empty();

                    var row = `<tr>
                                 <td>${response.subjectName}</td>
                                 <td>${response.subjectCode}</td>
                                 <td>${response.creditHour}</td>
                        </tr>`;

                    $(".subject-table-body").append(row);
                },

                error: function (error) {
                    console.log(error);
                }
            });
        });

    });
</script>


</body>
</html>